target
dist
node_modules
packages/*/bin
packages/rari-*/
packages/use-cache-*/
.pnpm-store/
.build
.cache
*.redb
coverage
test-results
playwright-report
playwright/.cache
crates/rari/src/runtime/ext/rari/react/vendor
crates/rari/snapshots/*.bin
crates/rari/snapshots/*.rs
.env
*.node
